.react-calendar {
  border: none;
  width: 100%; /* Ensure it takes the full width of its container */
  border-radius: 10px;
  color: black; /* Set a default text color */
  background-color: white; /* Ensure the background is white */
  color: black; /* Set the tile text color */
}

button {
  color: black;
}

.react-calendar__tile {
  text-align: center;
  padding: 10px;
  background: none;
  border: none;
  color: black; /* Set the tile text color */
}

.react-calendar__tile--now {
  background:  #0078D4; /* Highlight for the current day */
  color:white; /* Ensure the text is visible */
}

.react-calendar__tile--active {
  background: #0078D4; /* Selected day */
  color: white; /* Ensure the text is visible */
  border-radius: 8px;
}

.react-calendar__tile--range {
  background: #E0EAF4; /* Styling for range selection */
  color: black; /* Ensure the text is visible */
}

.react-calendar__month-view__days__day--weekend {
  color: #FF0000; /* Styling for weekends */
}