.header {
    background-color: #c0e0ee;
    color: #004E7C;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
}

.logo-image {
    max-height: 2%;
    max-width: 6%;
}

.nav-bar a {
    color: #004E7C;
    margin-right: 30px;
    text-decoration: none;
}