/* Main container */
.home-page {
  display: flex;
  width: 100%;
  max-width: 100%; /* Adjust max-width as needed */
  margin: 0 auto;
  gap: 20px; /* Space between left and right sections */
  background-color: #f5f5f5; /* Light background */
  padding: 2% 8%;
}

/* Left section: 60% width */
.left-section {
  flex: 5; /* 60% of the width (3 parts out of 5) */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Right section: 40% width */
.right-section {
  flex: 2; /* 40% of the width (2 parts out of 5) */
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Styling for all content blocks */
.report-section, .industry-news-section, .announcement-section, .calendar-section {
  background-color: #004E7C; /* Symphony Blue */
  color: white;
  padding: 20px;
  border-radius: 15px;
}

/* Quick Links */
.quick-links {
  background-color: #f5f5f5; /* Light background for contrast */
  padding: 12px;
  border-radius: 15px;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px;
}

button {
  padding: 10px 0; /* Ensure consistent button height */
  background-color: var(--bold-blue);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  width: 100%; /* Full width of the grid cell */
  height: 50px; /* Consistent height */
}

button:hover {
  background-color: var(--symphony-blue);
}

/* Responsive styling */
@media (max-width: 768px) {
  .home-page {
    flex-direction: column; /* Stack left and right sections vertically */
  }

  .button-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}