/* Main container for photo stream */
.photo-stream {
  position: relative;
  width: 100vw; /* Full viewport width */
  height: 70vh; /* Increase the height to take up more space */
  overflow: hidden;
  margin: 0;
  padding: 0;
  top: 3.7rem; /* Adjusted to position below the ticker */
}

/* Background image within photo stream */
.photo-stream .photo-stream-image {
  width: 100vw; /* Full viewport width */
  height: 100%;
  object-fit: cover; /* Ensures the image covers the container */
  position: absolute;
  top: 0;
  left: 0;
}

.photo-stream {
  width: calc(100vw + 1px); /* Slight adjustment for viewport rounding issues */
}