/* Ticker Wrapper */
.ticker-wrap {
    position: static;
    top: 4rem; /* Adjusted to place the ticker below the header */
    left: 0; /* Aligns to the left edge of the viewport */
    width: 100vw; /* Full viewport width */
    overflow: hidden;
    height: 4rem;
    background-color: white;
    padding: 0;
    box-sizing: border-box;
    z-index: 5005; /* Keep it on top */
}

.ticker {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;
    animation: ticker 30s linear infinite;
}

.ticker__item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 1.5rem;
    color: red;
    /* color: #004E7C; */
}

@keyframes ticker {
    0% {
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}